<!DOCTYPE html>
<html lang="en">
<%- include('layout/head') %>
<title>Hierarchy Generator</title>
<body>
  <%- include('layout/loggedOutHeader') %>
  <main>
    <form action='/create' method='POST'>
      <fieldset>
        <%- include('layout/cultureform') %>
        <%- include('layout/genderform') %>
        <%- include('layout/governmentform') %>
        <%- include('layout/tiersForm') %>
        <button type="submit">Generate Hierarchy</button>
     </fieldset>


    </form>
  </main> 
  <%- include('layout/footer') %>
</body>
</html>