<!DOCTYPE html>
<html lang="en">
<%- include('layout/head') %>
<body>
  <%- include('layout/loggedOutHeader') %>
  <main>
    <form action='/input' method='POST'>
      <fieldset>
        <legend>Selecting elements</legend>

        <%- include('layout/cultureform') %>

        <%- include('layout/genderform') %>

           <label>Goverment</label>
           <select id = "goverment">
            <option value="" disabled>Choose the Structure of Your Political Hierarchy</option>
            <% availableGovernments.forEach( government => { %>
              <option value="<%= government.government %>" > <%= government.government %> </option>

            <% }) %>
           </select>



     </fieldset>


    </form>
  </main> 
  <%- include('layout/footer') %>
</body>
</html>