<!DOCTYPE html>
<html lang="en">
<%- include('layout/head') %>
<body>
  <%- include('layout/loggedOutHeader') %>
  <main>
    <%- include('layout/loginForm.ejs') %> 
    <%- include('layout/signUpForm.ejs') %> 
    <form action='/input' method='POST'>
      <fieldset>
        <legend>Selecting elements</legend>

        <%- include('layout/cultureform') %>

        <%- include('layout/genderform') %>





     </fieldset>


    </form>
  </main> 
  <%- include('layout/footer') %>
</body>
</html>