<!DOCTYPE html>
<html lang="en">
<%- include('layout/head') %>
<title>Your Hierarchy</title>
<body>
  <%- include('layout/loggedOutHeader') %>
  <main class="resultsContainer">
    <ul>
    <% for (let i = 0; i < rulerArray.length; i++) { %>
      <% if (i === 0) { %>
        <%- include('layout/resultTierTemplate', { ruler: rulerArray[i], tier: 'government' }) %>
      <% } else { %>
        <li>
        <% for (let j = 0; j < rulerArray[i].length; j++) { %>
          <% if (j === 0) { %>
            <%- include('layout/resultTierTemplate', { ruler: rulerArray[i][j], tier: 'tier1'}) %>
          <% } else { %>
            <li>
              <% for (let k = 0; k < rulerArray[i][j].length; k++) { %>
                <% if (k == 0) { %>
                  <%- include('layout/resultTierTemplate', { ruler: rulerArray[i][j][k], tier: 'tier2' }) %>
                <% } else { %>
                  <li>
                  <% for (let l = 0; l < rulerArray[i][j][k].length; l++) { %>
                    <%- include('layout/resultTierTemplate', { ruler: rulerArray[i][j][k][l], tier: 'tier3' }) %>
                  <% } %>
                  </li>
              <% } %>
            <% } %>
                </li>
          <% } %>
        <% } %>
              </li>
      <% } %>
    <% } %>
      </ul>
  </main> 
  <%- include('layout/footer') %>
</body>
</html>