<header>
  <h1>Political Hierachy Generator</h1>
  <nav>
    <ul>
      <li><a href="/home/<%= user_id %>&<%= user_name %>">Create</a></li>
      <li><a href="/saved/<%= user_id %>">My Hierarchies</a></li>
      <li><a href="/accountSettings/<%= user_id %>"><%= user_name %></a></li>
    </ul>
  </nav>
</header>